<div class="container-fluid container5">
    <h2 class="text-center pb-3 sign-head1">Sign up</h2>
    <form class="contactform2 shadow">
        <div class="flex-column p-3 maincolumn2">
            <div class="column1 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" for="validationDefault01"><i
                            class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="First Name" aria-label="First Name"
                        aria-describedby="basic-addon1" id="validationDefault01" required>
                </div>
            </div>
            <div class="column2 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2" for="validationDefault02"><i
                            class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Lastname" aria-label="Lastname"
                        aria-describedby="basic-addon1" id="validationDefault02" required>
                </div>
            </div>
            <div class="column3 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3" for="validationDefault03"><i
                            class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1" id="validationDefault03" required>
                </div>
            </div>
            <div class="column4 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4" for="validationDefault04"><i
                            class="fas fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Confirm Email" aria-label="Confirm Email"
                        aria-describedby="basic-addon1" id="validationDefault04" required>
                </div>
            </div>
            <div class="column5 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5" for="validationDefault04"><i
                            class="far fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon5" id="validationDefault04" required>
                </div>
            </div>
            <div class="column6 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5" for="validationDefault05">
                        #
                    </span>
                    <input class="form-control" id="validationDefault05" placeholder="Phone Number" required type="number">

                </div>
            </div>
            <div class="column7 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon7" for="validationDefault06"><i
                            class="fas fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                        aria-describedby="basic-addon7" id="validationDefault06" required>
                </div>
            </div>
            <div class="column8 p-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon8" for="validationDefault06"><i
                            class="fas fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password"
                        aria-describedby="basic-addon8" id="validationDefault06" required>
                </div>
            </div>
            <div class="submit-button p-3">
                <button class="btn btn-primary shadow" type="submit">Submit</button>
            </div>
        </div>
    </form>

</div>