<div class="container9">
    <div class="bgimg">
        <h2 class="head1">BUSINESS STORAGE FOR BUSINESS</h2>
    </div>
    <div class="flex-column">
        <div class="subcon w3-animate-bottom">
            <div class="container">
                <strong class="head2">BENEFITS OF BEING A BUSINESS CUSTOMER WITH US</strong>
                <div class="row text-center">
                    <div class="col">
                        <div class="context1">
                            <i class="far fa-credit-card"></i>
                            <p>BOOK AND PAY DIRECTLY</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="context2">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <p>NO FIXATION</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="context3">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            <p>HIGH SECURITY</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="context4">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <p>PERSONAL ACCESS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subcon2 w3-animate-bottom">
                <div class="content3">
                    <h1>STORAGE AND STORAGE SPACE FOR BUSINESS </h1>
                    <p>Your company may be starting up and you have the office at home, or your office is small and you
                        have
                        no storage space or storage space where you sit. You may even work digitally without an office
                        or
                        office hotel and thus have no warehouse? This is becoming more and more common with
                        digitalisation
                        and the new generation requires flexibility and the opportunity to work anywhere and anytime. In
                        these situations, it is
                        common to rent stores where you can have your storage space and where you can come and go
                        whenever
                        you want and need.</p>
                </div>
                <div class="content4">
                    <h1>DELIVERY RECEPTION - SERVICE WHEN YOU RENT A BUSINESS SUPPLY</h1>
                    <p>Delivery reception is a popular service among our corporate customers. This means that we receive
                        your products or goods for you when you cannot be there and receive them. The supplier delivers
                        to
                        our facility, where our employees receive a courier or delivery car, sign and place the goods in
                        your storage room. The service requires that we have access to your store. You can then come and
                        pick up your stuff whenever you want, this is very worthwhile for many of the companies that
                        rent
                        stores from us in different places around Sweden. Read more about our popular delivery reception
                        here.</p>

                </div>
                <div class="content5">
                    <h1>DISPOSAL AT YOUR STORAGE SPACE</h1>
                    <p>Garbage disposal is another popular service among the companies that hire us. The waste disposal
                        service means we throw away what you don’t need. You can spend time on something else important
                        to
                        drive the company forward and we take care of your garbage. Book this easily when you book your
                        storage online or book through customer service.</p>
                </div>
                <div class="content6">
                    <h1>ARCHIVE OF DOCUMENTS</h1>
                    <p>When you rent supplies for companies from us at Safe Storage, you can spend your time and energy
                        on
                        something that feels more important to developing the company. You can also use the location you
                        have in the office for what you need to have daily or weekly access. Therefore, it is popular to
                        keep accounting in our stores. Many companies also use our repositories for archiving documents.
                        Documents that need to be saved for a certain number of years but that take up a lot of space
                        and
                        that you do not need to review every day. Rent storage space for streamlining time and space!
                    </p>
                </div>
            </div>

            <div class="subcon3 row">

                <div class="card-deck row">
                    <div class="subcard col w3-animate-left	">
                        <div class="card card1">
                            <img class="card-img img-fluid"
                                src="https://demo.6storagegates.com/wp-content/uploads/2020/06/young-man-working-warehouse.jpg"
                                alt="">
                            <div class="card-img-overlay">
                                <div class="card-body">
                                    <h5 class="card-title">STORAGE FOR SELLERS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subcard col w3-animate-bottom">
                        <div class="card card2">
                            <img class="card-img img-fluid"
                                src="https://demo.6storagegates.com/wp-content/uploads/2020/06/warehouse-indoor-view-1.jpg"
                                alt="">
                            <div class="card-img-overlay">
                                <div class="card-body">
                                    <h5 class="card-title">CRAFT STORE</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subcard col w3-animate-right">
                        <div class="card card3">
                            <img class="card-img img-fluid"
                                src="https://demo.6storagegates.com/wp-content/uploads/2020/06/download-2.jpg" alt="">
                            <div class="card-img-overlay">
                                <div class="card-body">
                                    <h5 class="card-title">STORAGE FOR FILABLE DOCUMENTS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>