<div class="container3">
    <div class="back">
        <h3 class="con-head1">Contact us</h3>
    </div>
    <div class="map">
        <iframe class="img" frameborder="0" scrolling="no" marginheight="" marginwidth=""
            src="https://maps.google.com/maps?q=6Storage%20-%20Self%20Storage%20Software&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
            aria-label="6Storage - Self Storage Software" data-origwidth="" data-origheight=""></iframe>
    </div>
    <div class=" pt-5 pb-5 subconatiner">
        <div class="flex-column p-5 maincolumn w3-animate-left">
            <div class="p-2 conhead2">
                <p>Leave Us Your Info</p>
            </div>
            <div class="p-2 con-head3">
                <p>Interested in our services or need advice?</p>
            </div>
            <div class="p-2 con-head4">
                <p><i class="fas fa-map-marker-alt fa-lg icon1"></i>&nbsp;&nbsp;8690 Aero Dr Suite #123, San
                    Diego, CA
                    92123</p>
            </div>
            <div class="p-2 con-head5">
                <p><i class="fas fa-phone-volume fa-lg icon1"></i>&nbsp;&nbsp;0123-456-2514</p>
            </div>
            <div class="p-2 con-head6">
                <p><i class="far fa-envelope fa-lg icon1"></i>&nbsp;&nbsp;info@6storage.com</p>
            </div>
        </div>
        <div class="contactmain w3-animate-right">
            <form class="contactform shadow">
                <div class="flex-column p-3 maincolumn2">
                    <div class="column1 p-3">
                        <div class="form-outline">
                            <label for="validationDefault01" class="form-label contact-formlabel">Name</label>
                            <input type="text" class="form-control" id="validationDefault01" required />
                        </div>
                    </div>
                    <div class="column2 p-3">
                        <div class="form-outline">
                            <label for="validationDefault02" class="form-label contact-formlabel">Email</label>
                            <input type="email" class="form-control" id="validationDefault02" required />
                        </div>
                    </div>
                    <div class="column3 p-3">
                        <div class="form-outline">
                            <label for="validationDefault03" class="form-label contact-formlabel">Subject</label>
                            <input type="text" class="form-control " id="validationDefault03" required />
                        </div>
                    </div>
                    <div class="column4 p-3">
                        <div class="form-outline">
                            <label for="validationDefault04" class="form-label contact-formlabel">Message</label>
                            <input type="text" class="form-control" id="validationDefault04" required />
                        </div>
                    </div>
                    <div class="submit-button p-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>