<div class="container10">
    <div class="bgimg">
        <h2 class="head">About us</h2>
    </div>
    <div class="subcon">
        <div class="flex-column flx1">
            <div class="content1 text-center">
                <h2>Our features </h2>
                <p>Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices
                    posuere cubilia Cura</p>
            </div>
            <div class="row row1">
                <div class="rowsub1  col-sm">
                    <div class="card  w3-animate-left">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-apple circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Praesent sapien massa </h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rowsub2  col-sm">
                    <div class="card  w3-animate-bottom">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-codepen circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Lorem ipsum</h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rowsub3 col-sm">
                    <div class="card  w3-animate-bottom">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-android circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Lorem ipsum</h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row row2">
                <div class="rowsub4 col-sm">
                    <div class="card  w3-animate-bottom">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-accessible-icon circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Lorem ipsum</h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit,
                                    eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rowsub5 col-sm">
                    <div class="card  w3-animate-bottom">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-connectdevelop circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Lorem ipsum</h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit,
                                    eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rowsub6 col-sm">
                    <div class="card  w3-animate-bottom">
                        <div class="row">
                            <div class="ico1 col-4">
                                <i class="fab fa-creative-commons circle-icon shadow"></i>
                            </div>
                            <div class="context1 col-8">
                                <h2>Lorem ipsum</h2>
                                <p>Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit,
                                    eget
                                    tincidunt
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="subcon2 w3-animate-bottom">
            <div class="flex-column flx2">
                <div class="row row3">
                    <div class="context7 col-sm">
                        <div class="styletop"></div>
                        <h2 class="pb-2">Curabitur non nulla sit amet
                            nisl tempus</h2>
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                            blind
                            texts. Separated they live arts Bookmark grove right at the coast without compromising
                            our
                            we do
                            in the world of finance.</p>
                    </div>
                    <div class="col-sm">
                        <img class="img-fluid"
                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/young-man-working-warehouse.jpg"
                            alt="">
                    </div>
                </div>
                <div class="context8 text-center">
                    <h2>Quisque velit nisi, pretium</h2>
                    <p>Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id bh pulvinar a.</p>
                    <div class="stylebottom"></div>
                </div>
                <div class="row row4">
                    <div class="col-sm">
                        <img class="img-fluid imgex1"
                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/warehouse-indoor-view.jpg"
                            alt="">
                    </div>
                    <div class="card col-sm card2">
                        <div class="card-title">
                            <h2>Make an Appointment</h2>
                        </div>
                        <div class="stylebottom2"></div>
                        <div class="card-body">
                            <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan
                                tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                Curabitur
                                aliquet quam id
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row5">
                    <div class="col col-sm">
                        <div class="Content2">
                            <div class="context9">
                                <small>Know Who We Are</small>
                                <h2> About our company</h2>
                                <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor
                                    accumsan
                                    tincidunt. </p>
                                <p>Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Nulla porttitor
                                    accumsan
                                    tincidunt. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. </p>
                            </div>

                            <div class="content3">
                                <i class="fas fa-quote-right fa-lg"></i>
                                <div class="context10">
                                    <p>Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna
                                        dictum
                                        porta. Curabitur arcu erat, accumsan id imperdiet</p>
                                </div>
                                <div class="ico7">
                                    <div class="img6">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <h4>
                                        <p class="head3">jon </p>
                                        <p class="para1"> - CEO @ MICROFOT
                                        </p>
                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col imgex col-sm">
                        <img class="img-fluid"
                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/coworkers-talking-about-business.jpg"
                            alt="" style="height: 90%;">
                    </div>
                </div>

            </div>
        </div>
        <div class="bgimg2 container-fluid">
            <div class="row">
                <div class="col-sm column1">
                    <h2> Vestibulum ac diam sit amet quam </h2>
                    <p>
                        Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed,
                        convallis at tellus.
                    </p>
                </div>
                <div class="col-sm column2">
                    <button type="button" class="btn btn-danger" (click)="gotoTop()">
                        Learn More &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="subconsub">
            <div class="flex-column w3-animate-bottom lastflex">
                <h2 class="text-center lasthead">Company logo with grid style</h2>
                <div class="stylebottom"></div>
                <div class="cardcaromain">
                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide carocard"
                        data-bs-ride="carousel">

                        <div class="carousel-inner shadow">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="img1">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed1"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img2">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed2"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img3">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed3"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img4">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed4"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img5">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed5"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img6">
                                        <img class="img-fluid"
                                            src="https://demo.6storagegates.com/wp-content/uploads/2020/06/headshotblank-1.png"
                                            alt="">
                                    </div>
                                    <p class="card-text">It is a paradisematic country, in which roasted parts of
                                        sentences
                                        fly
                                        into your mouth. Even the all-powerful Pointing has no control about</p>
                                    <p class="card-text hed6"><small>Shams W.Pawel</small></p>
                                    <p class="card-text"><small class="text-muted">Founder & CEO of XpeedStudio</small>
                                    </p>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <div class="d-none d-xl-block d-xxl-none">
                            <div class="carousel-indicators">
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active">
                                </li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>