<div class="container-fluid container2">
    <div class="row">
        <div class="flex-column">
            <div class="d-flex justify-content-around faq-padding">
                <h2 class="header1">DO YOU HAVE A QUESTION ?</h2>
            </div>
            <div class="d-flex justify-content-around faq-padding">
                <a href="/contact-us"><button type="button" class="button1 btn btn-dark btn-lg">Contact us</button></a>
            </div>
            <div class="d-flex justify-content-around faq-padding1">
                <h4 class="header2">FAQ</h4>
            </div>
            <div class="d-flex justify-content-around faq-padding">
                <h5 class="header3">Most frequent questions and answers</h5>
            </div>
        </div>

        <div class="flex-column accordionflex">
            <div class="accordion accordion-main" id="accordionExample">
                <div class="accordion-item p-4 accordion1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button shadow" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" 
                            >
                            CAN I EDIT THE FILES ?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse hide shadow" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            I am item content. Click edit button to change this text.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                            mattis, pulvinar leo.
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion" id="accordionExample">
                <div class="accordion-item  p-4 accordion1">
                    <h2 class="accordion-header" id="headingtwo">
                        <button class="accordion-button shadow text-decoration-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                            IS IT LAYERED ?
                        </button>
                    </h2>
                    <div id="collapsetwo" class="accordion-collapse collapse hide shadow" aria-labelledby="headingtwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            I am item content. Click edit button to change
                            this text. Lorem ipsum dolor sit amet, adipiscing elit. Ut elit tellus, luctus nec mattis,
                            pulvinar dapibus leo.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item  p-4 accordion1">
                    <h2 class="accordion-header" id="headingthree">
                        <button class="accordion-button shadow" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                            HOW CAN I EDIT THE MASKS ?
                        </button>
                    </h2>
                    <div id="collapsethree" class="accordion-collapse collapse hide shadow" aria-labelledby="headingthree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Ut elit tellus, luctus ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion" id="accordionExample">
                <div class="accordion-item  p-4 accordion1">
                    <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button shadow " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                            WHAT DO I NEED TO OPEN THE FILES ?
                        </button>
                    </h2>
                    <div id="collapsefour" class="accordion-collapse collapse hide shadow" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Ut luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion" id="accordionExample">
                <div class="accordion-item  p-4 accordion1">
                    <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button shadow " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                            IS THE FONT FREE ?
                        </button>
                    </h2>
                    <div id="collapsefive" class="accordion-collapse collapse hide shadow" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-sm">
                            I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet,
                            adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>